/*
  Google Fonts
  https://fonts.google.com/specimen/Righteous
*/
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

/* General styles */

html,
body {
  margin: 0;
  padding: 0;
}

html {
  color: #040f16;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Righteous, serif;
  letter-spacing: 2px;
}

/* Header */

header {
  background: #040f16;
  border-bottom: 5px solid #de6b48;
  color: #ececec;
  padding: 0.5rem 15%;
  text-align: center;

  display: grid;
  grid-template-columns: 250px 1fr;
}

header h1 {
  margin: 15px 0;
}

nav ul {
  padding: 15px 15px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

nav ul li {
  display: inline-block;
  margin: 0 0.5rem;
}

nav a {
  color: #ececec;
  text-decoration: none;
}

nav a:hover {
  color: #de6b48;
}

/*
  Splash
  Images from Unsplash: https://unsplash.com/
*/

.splash {
  background-image: url("./images/ales-nesetril-unsplash.jpg");
  background-position: 50% 50%;
  background-size: 100%;
  border-bottom: 5px solid #de6b48;
}

.splash h2 {
  color: #ececec;
  font-size: 5rem;
  margin: 0;
  padding: 20vh 0;
  text-align: center;
}

/* Main */

main {
  margin: 3rem auto;

  width: 70%;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem 3rem;
}

/* Articles */

article {
  line-height: 1.5rem;
}

article img {
  border-radius: 15px;
  height: 250px;
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
}

aside {
  padding-bottom: 10px;
}

aside a {
  color: #587b7f;
  text-decoration: none;
}

aside a:hover {
  color: #de6b48;
}

/* Footer */

footer {
  background: #040f16;
  color: #ececec;
  padding: 50px 15% 25px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

footer h4 {
  border-bottom: 1px solid #de6b48;
  margin: 0;
  max-width: 250px;
  padding-bottom: 5px;
}

footer ul {
  color: #de6b48;
  list-style: square;
  padding-left: 1rem;
}

footer ul li {
  margin: 1rem 0;
}

footer a {
  color: #de6b48;
  text-decoration: none;
}

footer a:hover {
  color: #ececec;
}

/* Media queries */
